@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("/reset.css");
* {
  margin: 0;
  padding: 0;
}

:root {
  --img-width: min(45vw, 200px);
  --pixels: 60px;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #f4dad9;
}

.container {
  height: calc(var(--vh, 1vh) * 100 -0px);
  position: relative;
}

.slick-list {
  overflow: visible !important;
}

.header__background {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 130px;
  z-index: -1;
}

.gallery {
  width: 100%;
  position: relative;
  display: none !important;
  overflow: hidden;
}

.gallery-pc {
  perspective: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 20px 0px 30px;
}

.gallery__img {
  height: 20vh;
  border-radius: 25px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
}

.gallery__img-pc {
  transition: margin 0.2s ease-in-out;
}

.gallery__img-pc:hover {
  margin-top: -10px;
}

.gallery-pc::after,
.gallery::after {
  position: absolute;
  content: "◉ Online";
  border-radius: 30px;
  bottom: 20px;
  left: 50%;
  font-size: 8px;
  padding: 3px 8px;
  color: #fff;
  background-color: #000;
  transform: translateX(-50%);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(calc(var(--vh, 1vh) * 100) - 20vh - 50px - 5vh);
}

.title {
  margin: -13px 0px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  transform: scale(1, 0.8);
  letter-spacing: 3px;
  line-height: 1.2;
}

.desc {
  text-align: center;
  font-weight: 900;
  transform: scale(1, 0.8);
  line-height: 1.2;
  font-size: 14px;
}

.desc span {
  transform: scale(1, 1);
}

.button-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 270px;
}

.button {
  text-decoration: none;
  color: #000;
  padding: 12px;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 12px;
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  transition: 0.1s ease-in-out;
}

.button:hover {
  width: 105%;
  letter-spacing: 1px;
}

.border {
  position: relative;
  width: 100%;
  margin: 6px 0px;
}

.border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}

.--shadow1:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 207, 1);
}

.--shadow2:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 231, 255, 1);
}

#btn3 {
  background: linear-gradient(to right, #f7ceff, #e3ddff);
}

#btn4 {
  background: linear-gradient(to right, #e2ffff, #dcffff);
}

#btn5 {
  background: linear-gradient(to right, #ffbbae, #ffbb90);
}

#btn6 {
  background: linear-gradient(to right, #bfacff, #d0d4ff);
}

@media (max-width: 600px) {
  .header__background {
    height: 150px;
  }

  .gallery {
    padding: 20px 0 30px;
    display: block !important;
  }

  .gallery-pc {
    display: none;
  }

  .gallery__img {
    margin: 0px 10px;
    width: var(--img-width);
    height: 100%;
    border-radius: 30px;
  }

  .inner {
    height: calc(calc(var(--vh, 1vh) * 100) - var(--img-width) - var(--pixels));
    padding-bottom: 4vh;
  }

  .title {
    font-size: 44px;
  }

  .desc {
    font-size: 16px;
  }

  .button-inner {
    width: 70%;
  }

  .button {
    padding: 10px;
    font-size: 10px;
  }

  @media (max-height: 800px) {
    .border {
      display: none;
    }
    .title {
      font-size: 5.5vh;
    }
    .desc {
      font-size: 1.7vh;
    }
    .button {
      padding: 1vh;
    }
    .inner {
      padding-bottom: 0px;
    }
    @media (max-width: 430px) {
      .border {
        display: block;
      }
    }
  }
}
